.idea/
vendor/

# Warden local configuration
.warden.local/
.warden/.env
.warden.bak/
.vscode
.warden

# Demo binaries
main
demo-1-flex-box-simple
demo-2-flex-box-horizonal
demo-6-flex-box-nested-borders
demo-7-flex-box-simple-borders
demo-8-flex-box-fixed-rows
demo-9-flex-box-fixed-width
demo-10-flex-box-mixed-fixed
demo-11-flex-box-cell-config
demo-12-flex-box-row-align
example/demo-3-flex-box-with-table/demo-3-flex-box-with-table
example/demo-4-table-simple-string/demo-4-table-simple-string
example/demo-5-table-multi-type/demo-5-table-multi-type

# Log files
demo10_size_log.txt
tmp
cmd
demo-all
